.corp-table-container {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .MuiDataGrid-root {
    min-height: 400px;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .MuiDataGrid-root {
      min-height: 300px;
    }
  }
